.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: rgb(166, 233, 210);
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}